extends ../layout

block content
  a(href='/export') Back
  
  h1= "Kerdesek"

  a(href='/export/#{eventId}/csvExport', download='data') Esemeny exportalasa CSV-kent
  br
  br

  table
    thead
    tbody
      each question, id in questions
        tr
          td(class='clickable')
            a(href='/export/#{eventId}/#{id}') #{id}
