extends ../layout

block content
  a(id='navigate', href='..') Vissza
  
  h1= "Kérdések módosítása"

  a(id='navigate', href='./createQuestion/')= "Új kérdés"
  br
  br

  a(id='navigate', href='./editEvent/')= "Esemény módosítása"
  br
  br

  a(id='navigate', href='../../export/#{eventId}/')= "Ugrás az exportáláshoz"
  br
  br

  table
    thead
    tbody
      each question, id in questions
        tr
          td(style='min-width: 25px; text-align: center;')= question.data()['order']
          td(class='clickable')
            a(id='entry', href='./#{id}/') #{question.id}

