extends ../layout

block content
  a(href='/edit') Back
  
  h1= "Kerdesek modositasa"

  a(href='/edit/#{eventId}/createQuestion')= "Uj kerdes"
  br
  br

  a(href='/edit/#{eventId}/editEvent')= "Esemeny modositasa"
  br
  br

  table
    thead
    tbody
      each question, id in questions
        tr
          td(class='clickable')
            a(href='/edit/#{eventId}/#{id}') #{id}

