extends ../layout

block content
  a(id='navigate', href='.') Vissza

  h1= "Vélemények"

  h2= question["text"]

  table
    thead
      tr
        th id
        th név/jelige
        th válasz
        th timestamp
    tbody
      each answer, id in answers
        tr
          td= id
          td= answer["name"]
          td= answer["answer"]
          td= answer["timestamp"]
