extends ../layout

block content
  a(id='navigate', href='..') Vissza
  
  h1= "Kérdések"

  a(id='navigate', href='./csvExport', download='data') Esemény exportálása CSV-ként
  br
  br

  a(id='navigate', href='../../edit/#{eventId}/')= "Ugrás a szerkesztéshez"
  br
  br

  table
    thead
    tbody
      each question, id in questions
        tr
          td(style='min-width: 25px; text-align: center;')= question.data()['order']
          td(class='clickable')
            a(id='entry', href='./#{id}') #{id}
